<h1>Shovel Squad service request #<%= @quote.id %></h1>

<h2>Hello <%= @quote.first_name %></h2>

<p>
  Your Shovel Squad service request has been received! Once it has been approved, 
  we will email to let you know once a member of the Shovel Squad is on their way!
</p>
<p>We're new in town and want to help make your service hassle-free.</p>
<ul>Please note the following:
  <li>All requests are handled in a sequential manner.</li>
  <li>If there is an issue with your request, our manager will call you directly to the number provided: <b> <%= @quote.phone_number %></b>.</li>
  <li>Since we're working hard shoveling snow during peak snowfall times, it's best to reach us via email (contact@shovelsquad.ca) if you have any questions and need to reach us! Please reference your service request <b> #<%= @quote.id %> </b>.
</li>
</ul>
<p>We’d love to get your feedback! We’ll be sending a quick survey following your Shovel Squad experience, we hope you’ll take the time to complete.</p>
<p>
  For your reference, here are the details of the service you requested on <%= @quote.created_at %>:
</p>
<dl>
  <p>Expect one of our hard working squad members to show up within the next <b><%= t("service_expedition_times.#{@quote.service_expedition_time}") %></b> </p>

  <% if (@quote.service_expedition_time === "free") %>
    <p>We’ll send you another email to confirm the time we’ll be arriving at your address.</p>
  <% end %>

  <dt class="primary-address">Address:</dt>
  <dd><%= @quote.address %></dd><br/>
  
  <dt>Area to be serviced:</dt>
  <dd><%= number_with_precision(@quote.area, precision: 0, delimiter: ",") %> sq ft</dd><br/>

  <dt>Added salt bags:</dt>
  <dd><%= @quote.salt_bags_quantity %> </dd><br/>

  <dt>Discounts applied:</dt>
  <dd><%= @quote.discount * -100 %>% </dd><br/>


  <dt>Total charged to your credit card:</dt>
  <dd> <b><%= number_to_currency(@quote.total) %></b> </dd><br/>
  <br>
  <dt>Comments:</dt>
  <dd><%= @quote.comments %></dd><br/>

  <img alt="Selected area map" src="<%= @static_map_URL.html_safe %>"><br/>
</dl>



