<main class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col col-7">
      <div class="accordion" id="quoteAccordion">
        <div class="card"> <!-- Step 1: Search Address -->
          <div class="card-header" id="headingFindAddress">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMark", class: 'hidden') %>
              <button id="findAddress" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFindAddress" aria-expanded="true" aria-controls="collapseFindAddress">
                <div><b>Step 1:</b> Address</div>
              </button>
            </h2>
          </div>
          <div id="collapseFindAddress" class="collapse show" aria-labelledby="headingFindAddress" data-parent="#quoteAccordion">
            <div class="card-body">
              <form action="" id="addressSearchBar">
                <div class="d-flex justify-content-center m-3">
                  <input id="addressInput" type="textbox" placeholder="Start typing your address" class="w-75">
                  <input id="addressSubmit" type="submit" value="Find" class="btn btn-dark ml-3 disabled">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card"> <!-- Step 2: Select Area -->
          <div class="card-header" id="headingMap">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMark", class: 'hidden') %>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap">
                <div><b>Step 2:</b> Select service area</div>
              </button>
            </h2>
          </div>
          <div id="collapseMap" class="collapse" aria-labelledby="headingMap" data-parent="#quoteAccordion">
            <div class="card-body">
              <div> 
                <div class="row">
                  <div class="col col-6">
                    <p class="h5">Identify your driveway, front door, and any area that needs to be cleared of snow and salted</p>
                  </div>
                  <div class="col col-6">
                    <%= image_tag('SelectAreaNarrow.gif', alt: 'Select area example animation', height: '70%') %>
                  </div>
                  <div class="col col-10 pt-3">
                    <div class="alert alert-success" role="alert">
                      Did you know you can select more than one area? Add side paths, backstairs, patio, etc.
                    </div>
                  </div>
                  <div class="col col-2 pt-3">
                    <button type="button" class="btn btn-dark">Done selecting</button>
                  </div>
                  <div class="col col-12">
                    <div id="map" data-api-key="<%=Rails.application.credentials.google_api%>">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card"> <!-- Step 3: Add ons -->
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMark", class: 'hidden') %>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div><b>Step 3:</b> Additional information </div>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#quoteAccordion">
            <div class="card-body">
              <div class="row d-flex justify-content-center" id="displayServiceExpedition">
                <div class="col-10 mt-3">
                  <div><b> How soon do you want the service? </b></div>
                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="serviceExpeditionCost" id="urgent" value="99.99" data-label="URGENT in 3hrs" checked="">
                            <label class="form-check-label" for="urgent">
                              URGENT in 3hrs add <b>$99.99</b>
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="serviceExpeditionCost" id="soon" value="49.99" data-label="In the next 8hrs" checked="">
                            <label class="form-check-label" for="soon">
                              In the next 8hrs add <b>$49.99</b>
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="serviceExpeditionCost" id="free" value="0" data-label="FREE in 24hrs" checked="">
                            <label class="form-check-label" for="free">
                              <b>FREE</b> in 24hrs
                            </label>
                          </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-10 mt-3">
                  <div><b> Would you like to add organic de-icer for $35 each? </b></div>
                  <button id="addBag" type="button" class="btn btn-success rounded-circle pl-2 pr-2 pt-0 pb-0">+</button>
                  <span id="numberOfBags" class="font-weight-bold font-size-35 align-middle">1</span>
                  <button id="removeBag" type="button" class="btn btn-danger rounded-circle pl-2 pr-2 pt-0 pb-0">-</button>
                </div>
                <div class="col-10">
                  <button type="button" class="btn btn-dark">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card"> <!-- Step 4: Contact info -->
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMark", class: 'hidden') %>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div><b>Step 4:</b> Contact information </div>
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#quoteAccordion">
            <div class="card-body">
              <div class="row d-flex justify-content-center ">
                <div class="col-6 mt-3"> <!-- Email -->
                  <div class="form-group email required quote_email"><label class="form-control-label email required" for="quote_email">Email <abbr title="required">*</abbr></label>
                  <input class="form-control string email required" type="email" name="quote[email]" id="quote_email"></div>
                </div>
                <div class="col-4 mt-3"> <!-- Phone number -->
                  <div class="form-group phone_number required quote_phone_number"><label class="form-control-label phone_number required" for="quote_phone_number">Phone number <abbr title="required">*</abbr></label>
                  <input class="form-control string phone_number required" type="tel" name="quote[phone_number]" id="quote_phone_number"></div>
                </div>
                <div class="col-5"> <!-- First Name -->
                  <div class="form-group string optional quote_first_name">
                    <label class="form-control-label string optional" for="quote_first_name">First name</label>
                    <input class="form-control string optional" type="text" name="quote[first_name]" id="quote_first_name">
                  </div>
                </div>
                <div class="col-5"> <!-- Last Name -->
                  <div class="form-group string optional quote_last_name">
                    <label class="form-control-label string optional" for="quote_last_name">Last name</label>
                    <input class="form-control string optional" type="text" name="quote[last_name]" id="quote_last_name">
                  </div>
                </div>
                <div class="col-10"> <!-- Comments -->
                  <div class="form-group text optional quote_comments">
                    <label class="form-control-label text optional" for="quote_comments">Comments</label>
                    <textarea class="form-control text optional" placeholder="How can we best serve you?" name="quote[comments]" id="quote_comments"></textarea>
                  </div>
                </div>
                <div class="col-10">
                  <button type="button" class="btn btn-dark">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card"> <!-- Step 5: Payment -->
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMark", class: 'hidden') %>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div><b>Step 5:</b> Payment </div>
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#quoteAccordion">
            <div class="card-body">
              <div class="row d-flex justify-content-center ">
                <div class="col-10">
                  <form action="/charges" method="post" id="payment-form">
                    <div class="form-row">
                      <div class="col-12">
                        <label for="card-element">Credit card</label>
                      </div>
                      <div class="col-12">
                        <div id="card-element">
                          <!-- A Stripe Element will be inserted here. -->
                        </div>
                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert">
                        </div>
                        <% if flash[:error].present? %>
                          <div id="charge-errors">
                            <p><%= flash[:error] %></p>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-10 pt-3">
                        <input type="submit" class="btn btn-lg btn-dark" value="Submit Payment to Request Service">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-3"> 
      <div class="accordion" id="leadAccordion"> <!-- New Lead contact info -->
        <div class="card">
          <div class="card-header font-weight-bold bg-primary text-white text-shadow" id="lead">
            <div class="mb-0 d-flex justify-content-between align-items-center"> Having trouble?
              <button 
                type="button" 
                class="btn btn-link collapsed text-white text-shadow" 
                data-toggle="collapse" 
                data-target="#collapseLead" 
                aria-expanded="true" 
                aria-controls="collapseLead"
                id="submitLead">
                  <div> Request a call
                  </div>
              </button>
            </div>
          </div>
          <div id="collapseLead" class="collapse" aria-labelledby="lead" data-parent="#leadAccordion">
            <div class="card-body">
              <%= simple_form_for(@lead, remote: true) do |form| %>
                <div class="modal-body">
                  <%= form.input :phone_number %>
                  <%= form.input :first_name %>
                  <%= form.input :last_name %>
                  <div class="hidden modal_errors col-12 p-0" id="lead_modal_errors">errors</div>
                  <div class="text-center">
                    <%= form.submit "Call me ASAP!", class: 'btn btn-dark m-3', id: "submitLead" %> 
                    <div><a href="tel:778-SHOVEL-SQUAD">778-SHOVEL-SQUAD</a>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="quote card"> <!-- Requested service summary -->
        <div class="card-header">
          <dl>
            <div id="summary" class="hidden">
              <div id="summaryAddress" class="hidden">Address:
                <div>
                  <div class="row displayAddress" id="displayAddress">
                    <div class="col-12 card-text" id="primaryAddress"><div class="primary-address">### Street</div></div>
                    <div class="col-6 card-text secondary" id="secondaryAddress">
                      <div class="secondary-address"> City</div>
                      <div class="secondary-address"> Province Postal Code</div>
                      <div class="secondary-address"> Country</div>
                    </div>
                    <div class="col-6">
                      <%= image_tag('mini_map_mockup.png', alt: 'mini map mockup', width:'100%') %>
                    </div>
                  </div>
                </div>
              </div>
              <div id="summaryArea" class="hidden">Selected area: <b>1,117 sq ft</b>
                <div class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="subTotalDue" class="font-weight-bold text-secondary font-size-35">402.15</span>
                </div>
              </div>
              <div id="summaryExpeditionTime" class="hidden">Service expedited: <b> in the next 8 hrs</b>
                <dd class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="subTotalDue" class="font-weight-bold text-secondary font-size-35">49.99</span>
                </dd>
              </div>
              <div id="summarySaltBags" class="hidden">Added salt bags: <b>1</b>
                <dd class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="subTotalDue" class="font-weight-bold text-secondary font-size-35">35.00</span>
                </dd>
              </div>
            </div>
            <div class="card"> 
            <div class="card-header"><b>Total due:</b></div>
              <div class="card-body text-center p-1">
                <p>
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="totalDue" class="font-weight-bold font-size-35">MIN_CHARGE</span> CAD
                </p>
                <p>Minimum charge</p>
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- SUCCESS MODAL -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white text-shadow" id="modalTitle">Thank You!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Shovel Squad will be in touch with you shortly.</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">See you soon!</button>
      </div>
    </div>
  </div>
</div>

<script>
  const priceList = {
    PRICE_PER_SQ_FT: <%= @price_per_sq_ft %>,
    MIN_CHARGE: <%= @min_charge %>,
    PRICE_PER_SALT_BAG: <%= @price_per_salt_bag %>
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google_api%>&libraries=places,drawing&callback=initMap" async defer>
</script>