<div class="container-fluid">
  <form action="" id="addressSearchBar">
    <div class="d-flex justify-content-center m-3">
      <input id="addressInput" type="textbox" placeholder="Start typing your address" class="w-75">
      <input id="addressSubmit" type="submit" value="Find" class="btn btn-primary text-white ml-3 disabled" disabled>
    </div>
  </form>
  <div id="map" data-api-key="<%=Rails.application.credentials.google_api%>">
  </div>
</div>
<script>
  var mapOptions = {
    BASE_URL: "<%= StaticMapUrlBuilder::BASE_URL %>",
    POLYGON_OPTIONS: "<%= StaticMapUrlBuilder::POLYGON_OPTIONS %>",
    ZOOM: "<%= StaticMapUrlBuilder::ZOOM %>",
    SIZE: "<%= StaticMapUrlBuilder::SIZE %>",
    MAP_TYPE: "<%= StaticMapUrlBuilder::MAP_TYPE %>",
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google_api%>&libraries=places,drawing&callback=initMap" async defer>
</script>