<main class="container-fluid p-3">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col col-7">
      <div class="accordion" id="quoteAccordion">

        <div class="card">
          <div class="card-header font-weight-bold bg-dark text-white text-shadow" id="lead">
            <div class="text-center"> 
              <strong>Book your Service! </strong><br><br>
              <p>Currently not mobile-friendly. For best results, please use a desktop or laptop.</p>
              <small>
                <br>Note: we’re currently only servicing the Burke Mountain, Coquitlam neighbourhood. 
                <br>We apologize for any inconvenience and hope to be serving more neighbourhoods next winter!
              </small>
            </div>
          </div>
        </div>

        <div class="card"> <!-- Step 1: Search Address -->
          <div class="card-header bg-success" id="headingFindAddress">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMarkAddress", class: 'checkMark hidden') %>
              <button id="findAddress" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFindAddress" aria-expanded="true" aria-controls="collapseFindAddress">
                <div class="text-dark">
                  <b>Step 1:</b>
                  <span> Address</span>
                </div>
              </button>
            </h2>
          </div>
          <div id="collapseFindAddress" class="collapse show" aria-labelledby="headingFindAddress" data-parent="#quoteAccordion">
            <div class="card-body bg-light">
              <form action="" id="addressSearchBar">
                <div class="d-flex justify-content-center m-3">
                  <input id="addressInput" type="textbox" placeholder="Start typing your address" class="w-75">
                  <input id="addressSubmit" type="submit" value="Find" class="btn btn-primary text-white ml-3 disabled" disabled>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card"> <!-- Step 2: Select Area -->
          <div class="card-header bg-success" id="headingMap">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMarkArea", class: 'hidden') %>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap">
                <div class="text-dark">
                  <b>Step 2:</b>
                  <span> Select service area</span>
                </div>
              </button>
            </h2>
          </div>
          <div id="collapseMap" class="collapse" aria-labelledby="headingMap" data-parent="#quoteAccordion">
            <div class="card-body bg-light">
              <div> 
                <div class="row">
                  <div class="col col-6">
                    <p>In the map below, select the area for Shovel Squad to clear and salt or de-ice. </p>
                    <ul>
                      <li> Use single clicks to draw an outline of the area requested to be serviced.</li>
                      <li> Double click to connect the last point with the first point.</li>
                      <li> This will tell our team the area and square footage to be cleared.</li>
                    </ul>
                    <p>Note all areas that are cleared of snow will have our organic salting-agent laid down</p>
                  </div>
                  <div class="col col-6">
                    <%= image_tag('SelectAreaNarrow.gif', alt: 'Select area example animation', width: '90%') %>
                  </div>
                  <div class="col col-7 pt-3">
                    <div id="areaSelectHint" class="hidden alert alert-success" role="alert">
                      <p>Did you know you can select more than one area?</p>
                      <p> Add side paths, backstairs, patio, etc.</p>
                    </div>
                  </div>
                  <div class="col col-2 p-3">
                    <button id="doneSelectingArea" type="button" class="btn btn-primary text-white disabled" disabled>Done selecting</button>
                  </div>
                  <div class="col col-12">
                    <div id="map" data-api-key="<%=Rails.application.credentials.google_api%>">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card"> <!-- Step 3: Add ons -->
          <div class="card-header bg-success" id="headingAddOns">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMarkAddOns", class: 'hidden') %>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAddOns" aria-expanded="false" aria-controls="collapseAddOns">
                <div class="text-dark">
                  <b>Step 3:</b>
                  <span> Additional information</span>
                </div>
              </button>
            </h2>
          </div>
          <div id="collapseAddOns" class="collapse" aria-labelledby="headingAddOns" data-parent="#quoteAccordion">
            <div class="card-body bg-light">
              <div class="row d-flex justify-content-center" id="displayServiceExpedition">
                <div class="col-10 mt-3">
                  <div><b> When should Shovel Squad arrive? </b></div>
                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-sm-10">
                        <% Quote::SERVICE_EXPEDITION_OPTIONS.each do |time, price| %>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="serviceExpeditionCost" id="<%= time %>" value="<%= price %>" data-label="<%= t("service_expedition_labels.#{time}") %>" checked>
                            <label class="form-check-label" for="<%= time %>">
                              <%= t("service_expedition_labels.#{time}") %> + <b>$<%= price %></b>
                            </label>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-10 mt-3">
                  <div>
                    <b> $35 each: </b> Add a 20kg bag of our organic, pet-friendly and environmentally safe
                      <a 
                        href="#" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="We use a product that is specially formulated with beet extract solution and Calcium Magnesium Acetate. It is certified organic, low toxicity and biodegradable. An environmentally safer alternative to salt to keep your property, and our environment, healthy.  Shovel Squad is the only company to offer this product in the Lower Mainland."
                      >
                        salting-agent<%= image_tag('info.png', alt: 'more information', id: 'info') %>
                      </a>
                  </div>
                  <button id="addBag" type="button" class="btn btn-success text-white rounded-circle pl-2 pr-2 pt-0 pb-0">+</button>
                  <span id="numberOfBags" class="font-weight-bold font-size-35 align-middle">0</span>
                  <button id="removeBag" type="button" class="btn btn-primary rounded-circle pl-2 pr-2 pt-0 pb-0">-</button>
                </div>
                <div class="col-10">
                  <button id="doneAddOns" type="button" class="btn btn-primary text-white">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card"> <!-- Step 4: Contact info and payment -->
          <div class="card-header bg-success" id="headingContactAndPaymentInfo">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMarkPayment", class: 'hidden') %>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseContactAndPaymentInfo" aria-expanded="false" aria-controls="collapseContactAndPaymentInfo">
                <div class="text-dark">
                  <b>Step 4:</b>
                  <span> Contact and payment information</span>
                </div>
              </button>
            </h2>
          </div>
          <div id="collapseContactAndPaymentInfo" class="collapse" aria-labelledby="headingContactAndPaymentInfo" data-parent="#quoteAccordion">
            <div class="card-body bg-light">
              <form action="/quotes" method="post" id="contact-info-form">
                <div class="row d-flex justify-content-center ">
                  <div class="alert alert-danger hidden errors col-10" id="contact_info_errors">errors</div> <!-- Display missing fields or payment errors -->
                  <div class="col-6 mt-3"> <!-- Email -->
                    <div class="form-group email required quote_email"><label class="form-control-label email required" for="quote_email">Email <abbr title="required">*</abbr></label>
                    <input class="form-control string email required" type="email" name="quote[email]" id="quote_email"></div>
                  </div>
                  <div class="col-4 mt-3"> <!-- Phone number -->
                    <div class="form-group phone_number required quote_phone_number"><label class="form-control-label phone_number required" for="quote_phone_number">Phone number <abbr title="required">*</abbr></label>
                    <input class="form-control string phone_number required" type="tel" name="quote[phone_number]" id="quote_phone_number"></div>
                  </div>
                  <div class="col-5"> <!-- First Name -->
                    <div class="form-group string optional quote_first_name">
                      <label class="form-control-label string optional" for="quote_first_name">First name</label>
                      <input class="form-control string optional" type="text" name="quote[first_name]" id="quote_first_name">
                    </div>
                  </div>
                  <div class="col-5"> <!-- Last Name -->
                    <div class="form-group string optional quote_last_name">
                      <label class="form-control-label string optional" for="quote_last_name">Last name</label>
                      <input class="form-control string optional" type="text" name="quote[last_name]" id="quote_last_name">
                    </div>
                  </div>
                  <div class="col-10"> <!-- Comments -->
                    <div class="form-group text optional quote_comments">
                      <label class="form-control-label text optional" for="quote_comments">Comments</label>
                      <textarea class="form-control text optional" placeholder="How can we best serve you?" name="quote[comments]" id="quote_comments"></textarea>
                    </div>
                  </div>
                  <div class="col-10 pl-5"> <!-- Accept Terms and Conditions -->
                    <div class="form-group required quote_accept_terms">
                      <input class="required form-check-input" type="checkbox" name="quote[terms]" id="quote_accept_terms" for="quote_terms" value="true">
                      <label class="form-check-label" for="quote_accept_terms">
                        I accept the 
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#terms">
                          Terms and Conditions
                        </button>
                        <!-- Terms and Conditions Modal -->
                        <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="termsTitle" aria-hidden="true">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="termsTitle">Residential on-call snow removal terms and conditions:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <small>This is an agreement between the client, which is the customer that was generated through shovelsquad.ca website, and
                                  Shovel Squad Winter Services Inc. for Snow Removal and/or Salting Services. From this point forward, Shovel Squad Winter
                                  Services Inc. will be references as Shovel Squad and the property owners, customer, tenant or person who is paying for our
                                  services, will be referenced as the client.<br><br>
                                  <b>1.</b> I agree to pay Shovel Squad the quoted price which was generated by calculating square footage, salt sale and
                                  dispatch time, through shovelsquad.ca for snow clearing and salting services on the designated area. This area has been
                                  selected by the client and approved by Shovel Squad.<br>
                                  <b>2.</b> Changes in weather conditions are considered to be an “Act of God” and Shovel Squad assumes no liability as such.
                                  This includes and is not limited to snow, freezing, traffic conditions due to weather. The requested dispatch time is only a
                                  request and not guaranteed.<br>
                                  <b>3.</b> Shovel Squad will do its best to always source salt and deicing materials but cannot control salt shortages due to
                                  natural disasters, inclement weather or supplier chain shortages. If this was to occur, Shovel Squad will attempt to source from
                                  alternate sources but there may be a change to pricing due to demand. If there is no salt available, Shovel Squad is not liable.<br>
                                  <b>4.</b> Shovel Squad will exercise reasonable care to avoid damage to pavement, curbs, trees and shrubs. However,
                                  Shovel Squad is not responsible for any: A) damage to landscaping caused by the piling of snow. B) Damage to items that are
                                  snow-covered or not visible. C) Damage caused by equipment when tree, shrub and sidewalk areas are not reasonably
                                  delineated due to snow accumulation. D) Damage caused to pavement, sidewalks, pathways due to the use of salt or de-icing
                                  agent.<br>
                                  <b>5.</b> The owner will report, in writing to contact@shovelsquad.ca, any property damage caused by the Shovel Squad
                                  within 48 hours so Shovel Squad can investigate. Notwithstanding anything herein to the contrary, Shovel Squad will have no
                                  obligation, and the owner waives any damages for any property damage not timely and properly reported.<br>
                                  <b>6.</b> Indemnification. The client, owners, guests, or any third party that comes on your premises shall indemnify,
                                  defend and hold harmless the contractor, its owners, employees and subcontractors from and against any and all claims,
                                  damages, attorney’s fees, costs and expenses which the contractor incurs as a result of a claim or claims brought by the client,
                                  owners or any third party, arising out of any wrongdoing, negligence and/or breach of contract by the client or owner alleged or
                                  otherwise, or any Act of God, including but not limited to extraordinary weather conditions, that is related, in any manner
                                  whatsoever, to the premises or the clients involvement with the premises or the services, including but not limited to personal
                                  injuries resulting from the slip and fall accidents.<br>
                                  <b>7.</b> The client is aware that shoveling or plowing may not clear their property to bare pavements and that slippery
                                  conditions may prevail even after doing so. Shovel Squad assumes no responsibility for slip and fall accidents or vehicular
                                  accidents as a result of this condition.<br>
                                  <b>8.</b> Shovel Squad will not shovel, plow or sand/salt within 4 feet from any parked vehicles, equipment or other
                                  obstructions in parking lots, driveways or other areas being cleared. Please attempt to move obstructions prior to the
                                  commencement of our services. In the case of damage due to items not being marked or moved, Shovel Squad is not liable.<br>
                                  <b>9.</b> Payment is due before services are rendered. In the case that there is a reversal of charges on your credit card, the
                                  client will be responsible for all costs of collection, including without limitation, court costs and reasonable attorney’s fees in
                                  the event that it becomes necessary for Shovel Squad to resort to legal measures to collect any amount owed under this
                                  agreement.<br>
                                  <b>10.</b> The client waives their right to pursue legal action against Shovel Squad for any liability or damage relating to third
                                  party negligence, slip and fall or any other matter. The client will hold harmless Shovel Squad, its owners, employees,
                                  contractors and affiliates in the case of damages, slip and fall, injury or death.<br><br>
                                  <b>Disclaimer:<br>
                                  Shovel Squad is not liable for damage to pavement or other surfaces contracted for clearing of snow or salting. Depressed
                                  areas in pavement may accumulate snow that will not be removed as well as snow that has been packed down by vehicle or
                                  foot traffic. Remember, icy and slippery conditions may exist even after work is completed. Shovel Squad is not responsible
                                  however, for any death, injury, loss or damage of or to persons or property by reason of services being delayed or not
                                  performed due to circumstances beyond our control.</b><br><br>
                                  I have read and understand this document and disclaimer and agree to abide by the terms listed and hereby enter into
                                  contract with Shovel Squad Winter Services Inc. for the purposes listed above.
                                </small>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="acceptTerms">Accept</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="col-10">
                    <label for="card-element">Credit card</label>
                  </div>
                  <div class="col-10">
                    <div id="card-element">
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert">
                    </div>
                    <% if flash[:error].present? %>
                      <div id="charge-errors">
                        <p><%= flash[:error] %></p>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-10 pt-3">
                    <input id="submitPayment" type="submit" class="disabled btn btn-lg btn-primary text-white" value="Submit Payment to Request Service" disabled>
                  </div>
                  <div class="col-9 pt-3">
                    <p class="text-center">You’ll receive an email confirmation of your service request. Upon approval from our team, you’ll receive a secondary email with the expected dispatch time to your address. We’ll call you directly if there are any concerns.</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-3"> 
            <div class ="justify-content-center d-flex">
            <%= image_tag('SS_logo.png', alt: 'Shovel Squad Logo') %>
          </div>
      <div class="accordion" id="leadAccordion"> <!-- New Lead contact info -->
        <div class="card">
          <div class="card-header font-weight-bold bg-dark text-white text-shadow" id="lead">
            <div class="mb-0 d-flex justify-content-between align-items-center"> Having trouble?
              <button 
                type="button" 
                class="btn btn-link collapsed text-white text-shadow" 
                data-toggle="collapse" 
                data-target="#collapseLead" 
                aria-expanded="true" 
                aria-controls="collapseLead"
                id="submitLead">
                  <div> Request a call
                  </div>
              </button>
            </div>
          </div>
          <div id="collapseLead" class="collapse" aria-labelledby="lead" data-parent="#leadAccordion">
            <div class="card-body">
              <%= simple_form_for(@lead, remote: true) do |form| %>
                <div class="body">
                  <div class="hidden errors col-12 p-0" id="lead_errors">errors</div>
                  <%= form.input :phone_number %>
                  <%= form.input :first_name %>
                  <%= form.input :last_name %>
                  <div class="text-center">
                    <%= form.submit "Call me ASAP!", class: 'btn btn-primary text-white m-3', id: "submitLead" %> 
                    <div><a href="tel:604-338-9094">604-338-9094</a>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="quote card"> <!-- Requested service summary -->
        <div class="card-header bg-success">
          <dl>
            <div id="summary" class="hidden">
              <div id="summaryAddress" class="hidden">Address:
                <div>
                  <div class="row displayAddress" id="displayAddress">
                    <div class="col-12 card-text" id="primaryAddress"><div class="primary-address">### Street</div></div>
                    <div class="col-6 card-text secondary" id="secondaryAddress">
                      <div class="secondary-address"> City</div>
                      <div class="secondary-address"> Province Postal Code</div>
                      <div class="secondary-address"> Country</div>
                    </div>
                    <div class="col-6">
                      <img id="staticMap" alt="Selected area map" class="hidden card-img-top p-2">
                    </div>
                  </div>
                </div>
              </div>
              <div id="summaryArea" class="hidden">Selected area: <b id="areaInSqFt">AREA IN SQ FT</b> sq ft
                <div class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="subTotalDue" class="font-weight-bold text-secondary font-size-35">SUBTOTAL FOR SERVICED AREA</span>
                </div>
              </div>
              <div id="summaryExpeditionOptions" class="hidden">Service expedited: <b id="summaryServiceExpeditionTime"> SERVICE EXPEDITION TIME</b>
                <dd class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="serviceExpeditionDue" class="font-weight-bold text-secondary font-size-35">SERVICE EXPEDITION COST</span>
                </dd>
              </div>
              <div id="summarySaltBags" class="hidden"> 
                Additional
                <a 
                  href="#" 
                  data-toggle="tooltip" 
                  data-placement="top" 
                  title="We use a product that is specially formulated with beet extract solution and Calcium Magnesium Acetate. It is certified organic, low toxicity and biodegradable. An environmentally safer alternative to salt to keep your property, and our environment, healthy.  Shovel Squad is the only company to offer this product in the Lower Mainland."
                >
                  de-icer<%= image_tag('info.png', alt: 'more information', id: 'info') %>
                </a>
                bags: <b id="summaryNumberOfBags">NUMBER OF BAGS</b>
                <dd class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="saltBagsDue" class="font-weight-bold text-secondary font-size-35">TOTAL FOR BAGS</span>
                </dd>
              </div>

              <div id="summaryDiscount">Discount: <b id="summaryDiscountAmount">DISCOUNT</b>%
                <dd class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="totalDiscount" class="font-weight-bold text-discount font-size-35">TOTAL DISCOUNT</span>
                </dd>
              </div>

            </div>
            <div class="card"> 
            <div class="card-header bg-info"><b>Total due:</b></div>
              <div class="card-body text-center p-1 bg-light">
                <p>
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="totalDue" class="font-weight-bold font-size-35">MIN_CHARGE</span> CAD
                </p>
                <p id="minChargeNote" style="font-size: 75%">(Minimum charge after discount $75)</p>
                <div class="alert alert-success m-2">
                  <b> Promotional 50% discount automatically applied to your total </b>
                  <p>Our weather is unpredictable!
                  <br> Full refunds provided.</p>
                </div>
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- SUCCESS MODAL -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header btn-primary text-white">
        <h5 class="modal-title text-white text-shadow" id="modalTitle">Thank you for using Shovel Squad!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Our team will send you a confirmation email once the service is approved and a Shovel Squad member will be dispatched to the address provided. </p>
        <p class="text-center">See you soon! </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary text-white" data-dismiss="modal" id="closeSuccess">See you soon!</button>
      </div>
    </div>
  </div>
</div>

<script>
  var priceList = {
    PRICE_PER_SQ_FT: <%= @price_per_sq_ft %>,
    MIN_CHARGE: <%= @min_charge %>,
    PRICE_PER_SALT_BAG: <%= @price_per_salt_bag %>,
    DISCOUNT: <%= @discount %>,
  }
  var mapOptions = {
    BASE_URL: "<%= StaticMapUrlBuilder::BASE_URL %>",
    POLYGON_OPTIONS: "<%= StaticMapUrlBuilder::POLYGON_OPTIONS %>",
    ZOOM: "<%= StaticMapUrlBuilder::ZOOM %>",
    SIZE: "<%= StaticMapUrlBuilder::SIZE %>",
    MAP_TYPE: "<%= StaticMapUrlBuilder::MAP_TYPE %>",
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google_api%>&libraries=places,drawing&callback=initMap" async defer>
</script>