<main class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col col-7">
      <div class="accordion" id="quoteAccordion">
        <div class="card"> <!-- Step 1: Search Address -->
          <div class="card-header" id="headingFindAddress">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMark", class: 'hidden') %>
              <button id="findAddress" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFindAddress" aria-expanded="true" aria-controls="collapseFindAddress">
                <div><b>Step 1:</b> Address</div>
              </button>
            </h2>
          </div>
          <div id="collapseFindAddress" class="collapse show" aria-labelledby="headingFindAddress" data-parent="#quoteAccordion">
            <div class="card-body">
              <form action="" id="addressSearchBar">
                <div class="d-flex justify-content-center m-3">
                  <input id="addressInput" type="textbox" placeholder="Start typing your address" class="w-75">
                  <input id="addressSubmit" type="submit" value="Find" class="btn btn-dark ml-3 disabled">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card"> <!-- Step 2: Select Area -->
          <div class="card-header" id="headingMap">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMark", class: 'hidden') %>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap">
                <div><b>Step 2:</b> Select service area</div>
              </button>
            </h2>
          </div>
          <div id="collapseMap" class="collapse" aria-labelledby="headingMap" data-parent="#quoteAccordion">
            <div class="card-body">
              <div> 
                <div class="row">
                  <div class="col col-6">
                    <p>On the map below, single click each corner to delineate the area you wish to be <b>cleared of snow and sprinkled with de-icer</b>:</p>
                    <b>Be as precise as possible!</b>
                  </div>
                  <div class="col col-6">
                    <%= image_tag('SelectAreaNarrow.gif', alt: 'Select area example animation', height: '70%') %>
                  </div>
                  <div class="col col-10 pt-3">
                    <div id="areaSelectHint" class="hidden alert alert-success" role="alert">
                      Did you know you can select more than one area? Add side paths, backstairs, patio, etc.
                    </div>
                  </div>
                  <div class="col col-2 pt-3">
                    <button id="doneSelectingArea" type="button" class="btn btn-dark disabled">Done selecting</button>
                  </div>
                  <div class="col col-12">
                    <div id="map" data-api-key="<%=Rails.application.credentials.google_api%>">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card"> <!-- Step 3: Add ons -->
          <div class="card-header" id="headingAddOns">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMark", class: 'hidden') %>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAddOns" aria-expanded="false" aria-controls="collapseAddOns">
                <div><b>Step 3:</b> Additional information </div>
              </button>
            </h2>
          </div>
          <div id="collapseAddOns" class="collapse" aria-labelledby="headingAddOns" data-parent="#quoteAccordion">
            <div class="card-body">
              <div class="row d-flex justify-content-center" id="displayServiceExpedition">
                <div class="col-10 mt-3">
                  <div><b> How soon do you want the service? </b></div>
                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-sm-10">
                        <% Quote::SERVICE_EXPEDITION_OPTIONS.each do |time, price| %>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="serviceExpeditionCost" id="<%= time %>" value="<%= price %>" data-label="<%= t("service_expedition_labels.#{time}") %>" checked>
                            <label class="form-check-label" for="<%= time %>">
                              <%= t("service_expedition_labels.#{time}") %> - <b>$<%= price %></b>
                            </label>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-10 mt-3">
                  <div><b> Would you like additional organic de-icer bags for $35 each? </b></div>
                  <button id="addBag" type="button" class="btn btn-success rounded-circle pl-2 pr-2 pt-0 pb-0">+</button>
                  <span id="numberOfBags" class="font-weight-bold font-size-35 align-middle">0</span>
                  <button id="removeBag" type="button" class="btn btn-danger rounded-circle pl-2 pr-2 pt-0 pb-0">-</button>
                </div>
                <div class="col-10">
                  <button id="doneAddOns" type="button" class="btn btn-dark">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card"> <!-- Step 4: Contact info and payment -->
          <div class="card-header" id="headingContactAndPaymentInfo">
            <h2 class="mb-0">
              <%= image_tag('checkmark.png', alt: 'Step completed', width:"30px", id:"checkMark", class: 'hidden') %>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseContactAndPaymentInfo" aria-expanded="false" aria-controls="collapseContactAndPaymentInfo">
                <div><b>Step 4:</b> Contact and payment information </div>
              </button>
            </h2>
          </div>
          <div id="collapseContactAndPaymentInfo" class="collapse" aria-labelledby="headingContactAndPaymentInfo" data-parent="#quoteAccordion">
            <div class="card-body">
              <form action="/quotes" method="post" id="contact-info-form">
                <div class="row d-flex justify-content-center ">
                  <div class="alert alert-danger hidden errors col-10" id="contact_info_errors">errors</div> <!-- Display missing fields or payment errors -->
                  <div class="col-6 mt-3"> <!-- Email -->
                    <div class="form-group email required quote_email"><label class="form-control-label email required" for="quote_email">Email <abbr title="required">*</abbr></label>
                    <input class="form-control string email required" type="email" name="quote[email]" id="quote_email"></div>
                  </div>
                  <div class="col-4 mt-3"> <!-- Phone number -->
                    <div class="form-group phone_number required quote_phone_number"><label class="form-control-label phone_number required" for="quote_phone_number">Phone number <abbr title="required">*</abbr></label>
                    <input class="form-control string phone_number required" type="tel" name="quote[phone_number]" id="quote_phone_number"></div>
                  </div>
                  <div class="col-5"> <!-- First Name -->
                    <div class="form-group string optional quote_first_name">
                      <label class="form-control-label string optional" for="quote_first_name">First name</label>
                      <input class="form-control string optional" type="text" name="quote[first_name]" id="quote_first_name">
                    </div>
                  </div>
                  <div class="col-5"> <!-- Last Name -->
                    <div class="form-group string optional quote_last_name">
                      <label class="form-control-label string optional" for="quote_last_name">Last name</label>
                      <input class="form-control string optional" type="text" name="quote[last_name]" id="quote_last_name">
                    </div>
                  </div>
                  <div class="col-10"> <!-- Comments -->
                    <div class="form-group text optional quote_comments">
                      <label class="form-control-label text optional" for="quote_comments">Comments</label>
                      <textarea class="form-control text optional" placeholder="How can we best serve you?" name="quote[comments]" id="quote_comments"></textarea>
                    </div>
                  </div>
                  <div class="col-10">
                    <label for="card-element">Credit card</label>
                  </div>
                  <div class="col-10">
                    <div id="card-element">
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert">
                    </div>
                    <% if flash[:error].present? %>
                      <div id="charge-errors">
                        <p><%= flash[:error] %></p>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-10 pt-3">
                    <input id="submitPayment" type="submit" class="disabled btn btn-lg btn-dark" value="Submit Payment to Request Service">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-3"> 
      <div class="accordion" id="leadAccordion"> <!-- New Lead contact info -->
        <div class="card">
          <div class="card-header font-weight-bold bg-primary text-white text-shadow" id="lead">
            <div class="mb-0 d-flex justify-content-between align-items-center"> Having trouble?
              <button 
                type="button" 
                class="btn btn-link collapsed text-white text-shadow" 
                data-toggle="collapse" 
                data-target="#collapseLead" 
                aria-expanded="true" 
                aria-controls="collapseLead"
                id="submitLead">
                  <div> Request a call
                  </div>
              </button>
            </div>
          </div>
          <div id="collapseLead" class="collapse" aria-labelledby="lead" data-parent="#leadAccordion">
            <div class="card-body">
              <%= simple_form_for(@lead, remote: true) do |form| %>
                <div class="body">
                  <div class="hidden errors col-12 p-0" id="lead_errors">errors</div>
                  <%= form.input :phone_number %>
                  <%= form.input :first_name %>
                  <%= form.input :last_name %>
                  <div class="text-center">
                    <%= form.submit "Call me ASAP!", class: 'btn btn-dark m-3', id: "submitLead" %> 
                    <div><a href="tel:778-SHOVEL-SQUAD">778-SHOVEL-SQUAD</a>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="quote card"> <!-- Requested service summary -->
        <div class="card-header">
          <dl>
            <div id="summary" class="hidden">
              <div id="summaryAddress" class="hidden">Address:
                <div>
                  <div class="row displayAddress" id="displayAddress">
                    <div class="col-12 card-text" id="primaryAddress"><div class="primary-address">### Street</div></div>
                    <div class="col-6 card-text secondary" id="secondaryAddress">
                      <div class="secondary-address"> City</div>
                      <div class="secondary-address"> Province Postal Code</div>
                      <div class="secondary-address"> Country</div>
                    </div>
                    <div class="col-6">
                      <img id="staticMap" alt="Selected area map" class="hidden card-img-top p-2">
                    </div>
                  </div>
                </div>
              </div>
              <div id="summaryArea" class="hidden">Selected area: <b id="areaInSqFt">AREA IN SQ FT</b> sq ft
                <div class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="subTotalDue" class="font-weight-bold text-secondary font-size-35">SUBTOTAL FOR SERVICED AREA</span>
                </div>
              </div>
              <div id="summaryExpeditionOptions" class="hidden">Service expedited: <b id="summaryServiceExpeditionTime"> SERVICE EXPEDITION TIME</b>
                <dd class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="serviceExpeditionDue" class="font-weight-bold text-secondary font-size-35">SERVICE EXPEDITION COST</span>
                </dd>
              </div>
              <div id="summarySaltBags" class="hidden">Additional de-icer bags: <b id="summaryNumberOfBags">NUMBER OF BAGS</b>
                <dd class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="saltBagsDue" class="font-weight-bold text-secondary font-size-35">TOTAL FOR BAGS</span>
                </dd>
              </div>

              <div id="summaryDiscount">Discount: <b id="summaryDiscountAmount">DISCOUNT</b>%
                <dd class="text-right">
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="totalDiscount" class="font-weight-bold text-discount font-size-35">TOTAL DISCOUNT</span>
                </dd>
              </div>

            </div>
            <div class="card"> 
            <div class="card-header"><b>Total due:</b></div>
              <div class="card-body text-center p-1">
                <p>
                  <span class="font-weight-bold currency-symbol text-secondary">$</span>
                  <span id="totalDue" class="font-weight-bold font-size-35">MIN_CHARGE</span> CAD
                </p>
                <p id="minChargeNote">(Minimum charge before discount $150)</p>
                <div class="alert alert-success m-2">
                  <b> Special 50% Discount for Beta testers already applied </b>
                </div>
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- SUCCESS MODAL -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white text-shadow" id="modalTitle">Thank you for your business!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Shovel Squad staff will be in touch with you shortly.</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">See you soon!</button>
      </div>
    </div>
  </div>
</div>

<script>
  const priceList = {
    PRICE_PER_SQ_FT: <%= @price_per_sq_ft %>,
    MIN_CHARGE: <%= @min_charge %>,
    PRICE_PER_SALT_BAG: <%= @price_per_salt_bag %>,
    DISCOUNT: <%= @discount %>,
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google_api%>&libraries=places,drawing&callback=initMap" async defer>
</script>