<main class="container-fluid">
  <div class="d-flex row justify-content-center">
    <div class="col col-xl-3 mb-3">
      <div class="card">
        <h5 class="card-header font-weight-bold bg-primary text-white text-shadow">Quote calculator</h5>
        <div class="card-body" id="panel">
          <div><b>Step 1:</b> Address</div>
          <div class="row hidden displayAddress" id="displayAddress">
            <div class="col-12 card-text" id="primaryAddress"></div>
            <div class="col-8 card-text secondary" id="secondaryAddress"></div>
            <div class="col-4">
              <button 
                type="button" 
                class="btn edit-button btn-sm m-3" 
                data-toggle="modal" 
                data-target="#submitAddressModal" 
                id="searchAddressButton">✎
              </button>
            </div>
          </div>
          <div class="border-bottom m-3"></div>
          <form action="" id="SubmitQuote">
            <div><b>Step 2:</b> Select service area</div>
            <div class="hidden" id="step2"> <!-- Displays instructions and gif -->
              <p>Identify your driveway, front door, and any area that needs to be cleared of snow and salted</p>
              <div id="areaSelectingGif">
                <%= image_tag('SelectArea.gif', alt: 'Select area example animation') %>
              </div>
            </div>
            <div class="hidden row" id="displayTotals">
              <div class="col-12 mt-4"> <!-- Displays total square footage selected -->
                <div class="card">
                  <div class="card-body text-center p-1">
                    <span id="calculatedArea" class="font-weight-bold font-size-35"></span> sq ft
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3"> <!-- Displays subtotal for selected area -->
                <div class="card">
                  <div class="card-body text-center p-1">
                    <span class="font-weight-bold currency-symbol text-secondary">$</span>
                    <span id="subTotalDue" class="font-weight-bold font-size-35">subTotal</span> CAD
                  </div>
                </div>
              </div>
              <div class="border-bottom m-3"></div>
              <div class="col-12 mt-3"> <!-- Displays hint to add more areas -->
                <div>Did you know ...
                  <p>You can select more than one area. Add side paths, backstairs, patio, etc </p>
                </div>
              </div>
            </div>
            <div class="border-bottom m-3"></div>
            <div><b>Step 3:</b> When would you like the service? </div>
            <div class="hidden row" id="displayServiceExpedition">
              <div class="col-12 mt-3">
                <fieldset class="form-group">
                  <div class="row">
                    <div class="col-sm-10">
                      <% Quote::SERVICE_EXPEDITION_OPTIONS.each do |time, price| %>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="serviceExpeditionCost" id="<%= time %>" value="<%= price %>" data-label="<%= t("service_expedition_labels.#{time}") %>" checked>
                          <label class="form-check-label" for="<%= time %>">
                            <%= t("service_expedition_labels.#{time}") %> - <b>$<%= price %></b>
                          </label>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="border-bottom m-3"></div>
            <div class="row">
              <div class="col-6">
                <div><b>Step 4:</b> Add a bag of salt </div>
              </div>
              <div class="col-6">
                <div>
                  <button id="addBag" type="button" class="btn bg-primary rounded-circle pl-2 pr-2 pt-0 pb-0">+</button>
                  <span id="numberOfBags" class="font-weight-bold font-size-35 align-middle">0</span>
                  <button id="removeBag" type="button" class="btn btn-danger rounded-circle pl-2 pr-2 pt-0 pb-0">-</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <div class="card hidden" id="displaySaltBags">
                  <div class="card-body text-center p-1">
                    <span class="font-weight-bold currency-symbol text-secondary">$</span>
                    <span id="saltBagsDue" class="font-weight-bold font-size-35"> 0 </span> CAD
                  </div>
                </div>
              </div>
            </div>
            <div class="row hidden" id="grandTotal">
              <div class="col-12 mt-3"> <!-- Displays grand Total -->
                <div class="card"> 
                  <div class="card-body text-center p-1">
                    <span class="font-weight-bold currency-symbol text-secondary">$</span>
                    <span id="totalDue" class="font-weight-bold font-size-35">Total</span> CAD
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3"> <!-- Displays submit button -->
                <input 
                  id="quoteSubmit" 
                  type="submit" 
                  value="Send me this quote" 
                  class="btn btn-block btn-dark shadow-lg"
                  data-toggle="modal" 
                  data-target="#submitQuoteModal"
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-xl">
      <div class="card">
        <h5 class="card-header font-weight-bold bg-primary text-white text-shadow">Select the area to be serviced</h5>
        <div class="card-body">
          <div id="map" data-api-key="<%=Rails.application.credentials.google_api%>">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <h5 class="card-header font-weight-bold bg-primary text-white text-shadow">Having trouble?
          <button 
            type="button" 
            class="btn edit-button btn-sm" 
            data-toggle="modal" 
            data-target="#submitLeadModal" 
            id="searchAddressButton">Request a call
          </button>
        </h5>
      </div>
    </div>
  </div>
</main>

<!-- ADDRESS SEARCH MODAL -->
<div class="modal fade" id="submitAddressModal" tabindex="-1" role="dialog" aria-labelledby="submitAddressModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white text-shadow" id="submitAddressModalLabel">STEP 1: Let's start by searching for your address:</h5>
      </div>
      <form action="" id="AddressSearchModal">
          <div class="modal-body d-flex justify-content-center">
            <input id="address" placeholder="Start typing your address" class="w-100">
            <input id="submit" type="submit" value="Find" class="disabled btn btn-dark ml-3" disabled>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- QUOTE MODAL -->
<div class="modal fade" id="submitQuoteModal" tabindex="-1" role="dialog" aria-labelledby="submitQuoteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white text-shadow">Service details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@quote, remote: true) do |form| %>
        <div class="modal-body">
          <div class="row displayAddress">
            <div class="col-6 mt-4">
              <div class="card-body p-1">
                <div id="primaryAddressModal" class="col-12 card-text primary-address" ></div> 
                <div id="secondaryAddressModal" class="col-12 card-text secondary-address" ></div> 
              </div>
            </div>
            <div class="col-6 mt-4">
              <div class="card">
                <div class="card-body text-center p-1">
                  <div id="staticMapCard" class="card-img-top">
                    <img id="staticMap" alt="Selected area map" class="card-img-top p-2">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-4">
              <div class="card">
                <div class="card-body text-center p-1">
                  <span id="quoteModalArea" class="font-weight-bold font-size-35"></span> sq ft
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="card">
                <div class="card-body text-center p-1">
                  <div>
                    <span class="font-weight-bold currency-symbol text-secondary">$</span>
                    <span id="subTotalModal" class="font-weight-bold font-size-35 text-secondary">subTotal</span> CAD
                  </div>
                  <div>
                    <span class="font-weight-bold currency-symbol text-secondary">+</span>
                  </div>
                  <div>
                    <span>Service expedited: <b id="serviceExpeditionLabel"> expeditionLabel </b></span>
                  </div>
                  <div>
                    <span class="font-weight-bold currency-symbol text-secondary">$</span>
                    <span id="serviceExpeditionCost" class="font-weight-bold font-size-35 text-secondary">expeditionCost</span> CAD
                  </div>
                  <div class="hidden" id="quoteModalSaltBags">
                    <div>
                      <span class="font-weight-bold currency-symbol text-secondary">+</span>
                    </div>
                    <div>
                      <span>Added salt bags: <b id="saltBagsQuantityModal">saltBagsQuantity</b></span>
                    </div>
                    <div>
                      <span class="font-weight-bold currency-symbol text-secondary">$</span>
                      <span id="quoteModalSaltBagsDue" class="font-weight-bold font-size-35 text-secondary">saltBagsDue</span> CAD
                    </div>
                  </div>
                  <div>
                    <span class="font-weight-bold currency-symbol text-secondary">=</span>
                  </div>
                  <div>
                    <span class="font-weight-bold currency-symbol text-secondary">$</span>
                    <span id="totalModal" class="font-weight-bold font-size-35">Total</span> CAD
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-12 mt-3">
              <%= form.input :email, label: "Email", class: "" %>
            <div class="hidden modal_errors col-12 p-0" id="quote_modal_errors"></div>
            </div>
            <div class="col-12">
              <%= form.input :first_name, label: "First name" %>
            </div>
            <div class="col-12">
              <%= form.input :last_name, label: "Last name" %>
            </div>
            <%= form.input :address, as: :hidden %>
            <%= form.input :area, as: :hidden %>
            <%= form.input :polygons, as: :hidden %>
            <%= form.input :static_map_URL, as: :hidden %>
            <%= form.input :service_expedition_cost, as: :hidden %>
            <%= form.input :service_expedition_time, as: :hidden %>
            <%= form.input :salt_bags_quantity, as: :hidden %>
            <div class="col-12">
              <%= form.input :comments, input_html: { placeholder: 'How can we best serve you?'} %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Not yet! I need to make changes</button>
          <%= form.submit "Submit quote", class: 'btn btn-dark' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- NEW LEAD MODAL -->
<div class="modal fade" id="submitLeadModal" tabindex="-1" role="dialog" aria-labelledby="submitLeadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white text-shadow text-center" id="submitLeadModalLabel">Enter your phone and one of our friendly mangers will get in touch with you as soon as possible</h5>
      </div>
      <%= simple_form_for(@lead, remote: true) do |form| %>
        <div class="modal-body">
          <div class="hidden modal_errors col-12 p-0" id="lead_modal_errors"></div>
          <%= form.input :phone_number %>
          <%= form.input :first_name %>
          <%= form.input :last_name %>
          <div class="text-center">
            <%= form.submit "Request a call", class: 'btn btn-dark ml-3' %> Or call <a href="tel:778-SHOVEL-SQUAD">778-SHOVEL-SQUAD</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- SUCCESS MODAL -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white text-shadow" id="modalTitle">Thank You!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You will shortly receive an email with the details for the service requested.</p>
        <p>Shovel Squad will be in touch with you in the next 24hrs.</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">See you soon!</button>
      </div>
    </div>
  </div>
</div>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google_api%>&libraries=places,drawing&callback=initMap" async defer>
</script>
<script>
  const priceList = {
    PRICE_PER_SQ_FT: <%= @price_per_sq_ft %>,
    MIN_CHARGE: <%= @min_charge %>,
    PRICE_PER_SALT_BAG: <%= @price_per_salt_bag %>
  }
</script>
>>>>>>> master