<h1>Snow Queen phone call request <%= @lead.phone_number %></h1>

<h2><%= @lead.first_name %> <%= @lead.last_name %> was having trouble requesting a service on <%= @lead.created_at %>, call ASAP!</h2>

<p><%= @lead.first_name %></p>
<p><%= @lead.last_name %></p>
<p><%= @lead.phone_number %></p>