<!DOCTYPE html>
<html>
  <head>
    <title>Shovel Squad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const stripeKey = "<%= Rails.application.config.stripe_publishable_api_key%>"
    </script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="bg-light">
    <header>
      <%= image_tag('SQ_logo.png', alt: 'Shovel Squad Logo') %>
    </header>
    <%= yield %>
  </body>
</html>
