<!DOCTYPE html>
<html>
  <head>
    <!-- Karen Bone: Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134105364-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134105364-1');
    </script>

    <title>Snow Queen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'vendor' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('Final_SnowQueen_Logo_BlueOnWhite.jpg') %>
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1">
-->
    <meta name="viewport" content="width=device-width, minimal-ui">

  </head>

  <body class="bg-success" background="/assets/Final_SnowQueen_Logo_WhiteOnBlue.jpg">
      <%= yield %>
  </body>
</html>
